<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        Update Account
    </title>
</head>
<body>
<br>
<br>
<form method="post" th:action="@{/user}">

    Name:
    <input type="text" name="userName"/><br>
    <br>
    Phone:
    <input type="text" name="phone" maxlength="10"/><br>
    <br>
    Email:
    <input type="email" name="email"/><br>
    <br>
    DOB:
    <input type="date" name="dob"/><br>
    <br>
    Password:
    <input type="password" name="password" minlength="6" maxlength="10"/><br>
    <br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>